.all {
  width: 1200px;
  margin: auto;
  background-color: #B0C4DE;
}

img {
 max-width: 250px;
 max-height: 250px;
 }

.myheader {
 display: flex;
 width: 100%;
 justify-content: space-around;
 height: 270px;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
